html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 350px 4fr;
  grid-template-rows: 150px 4fr;
  height: 100vh;
  background-color: lightgray;
}

.sidebar {
  background-color: dodgerblue;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100%;
}

.header {
  background-color: maroon;
  color: white;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 100%;
}

.main {
  background-color: rgb(31, 72, 73);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
}
